.first-toolbar-row {
  margin-top: 1rem;
}

.app-logo {
  margin-right: 1.3rem;
  height: 5rem;
}

.mat-toolbar-row {
  justify-content: center;
  margin-bottom: 2rem;
}

.search-input {
  width: 40rem;
  padding-top: 2rem;
  margin-right: 1rem;
}

.search-button {
  margin-right: 1rem;
}

.filter-button {
  margin-right: 14rem;
}

.account-button {
}

.button-icon {
  display: flex;
}
