<mat-toolbar>
  <mat-toolbar-row class="first-toolbar-row">
    <a class="app-logo" routerLink="/">
      <img src="../../../../assets/logo.png" alt="app-logo" />
    </a>
    <mat-form-field class="search-input">
      <mat-label>Type your request</mat-label>
      <input matInput placeholder="fun videos" (input)="onSearchInputChange(input.value)" #input />
    </mat-form-field>
    <app-custom-button
      class="filter-button header-button"
      [buttonHeightREM]="5.5"
      (buttonClickEvent)="filterService.toggleFilterPanel()">
      <mat-icon class="button-icon">menu</mat-icon>
    </app-custom-button>
    <app-custom-button
      *ngIf="!loginService.isLoggedIn()"
      [routerLink]="['/auth']"
      class="account-button header-button"
      [buttonHeightREM]="5.5">
      <mat-icon class="button-icon">account_circle</mat-icon>
    </app-custom-button>
    <app-custom-button
      (buttonClickEvent)="loginService.logout()"
      *ngIf="loginService.isLoggedIn()"
      [buttonHeightREM]="5.5">
      <mat-icon class="button-icon">logout</mat-icon>
    </app-custom-button>
  </mat-toolbar-row>
</mat-toolbar>
