.first-toolbar-row {
  margin-top: 1rem;
}

.app-logo {
  margin-right: 1.3rem;
  height: 5rem;
}

.mat-toolbar-row {
  justify-content: center;
  margin-bottom: 2rem;
}

.search-input {
  width: 40rem;
  padding-top: 2rem;
  margin-right: 1rem;
}

.search-button {
  margin-right: 1rem;
}

.filter-button,
.create-item-button {
  margin-right: 0.5rem;
}

.favorite-button {
  margin-right: 13rem;
}

.account-button {
}

.button-icon {
  display: flex;
}

.login-status {
  font-size: 1.5rem;
  padding-left: 2rem;
}
