<ng-container *ngIf="searchItem | async as searchItem">
  <div class="item-detailed-information">
    <app-custom-button [routerLink]="['/search']" class="back-button">
      <mat-icon>arrow_back</mat-icon>
    </app-custom-button>
    <img class="item-image" src="{{searchItem.snippet.thumbnails.high.url}}" alt="item-image" />
    <div class="content-wrapper">
      <div class="item-header">
        <h2 class="item-title">{{searchItem.snippet.title}}</h2>
        <div class="item-date">{{searchItem.snippet.publishedAt | date: 'fullDate'}}</div>
      </div>
      <div class="item-description">
        <h2 class="description-header">Description:</h2>
        <p class="full-description">{{searchItem.snippet.description | slice:0:550}}</p>
      </div>
      <div class="search-item-stat-container">
        <span class="search-item-stat">
          <mat-icon>remove_red_eye</mat-icon>
          {{searchItem.statistics.viewCount}}
        </span>
        <span class="search-item-stat">
          <mat-icon>thumb_up</mat-icon>
          {{searchItem.statistics.likeCount}}
        </span>
        <span class="search-item-stat">
          <mat-icon>comment</mat-icon>
          {{searchItem.statistics.commentCount}}
        </span>
      </div>
      <div [appColoredBorder]="searchItem.snippet.publishedAt" class="colored-border"></div>
    </div>
  </div>
</ng-container>
