<ng-container *ngIf="searchItem">
  <mat-card class="search-item-card">
    <img class="search-item-img" src="{{searchItem.snippet.thumbnails.medium.url}}" alt="item-img" />
    <div class="search-item-stat-container">
      <span class="search-item-stat">
        <mat-icon>remove_red_eye</mat-icon>
        {{searchItem.statistics.viewCount}}
      </span>
      <span class="search-item-stat">
        <mat-icon>thumb_up</mat-icon>
        {{searchItem.statistics.likeCount}}
      </span>
      <span class="search-item-stat">
        <mat-icon>comment</mat-icon>
        {{searchItem.statistics.commentCount}}
      </span>
    </div>
    <mat-card-title class="search-item-title">{{searchItem.snippet.title | slice:0:50}}</mat-card-title>
    <div class="item-buttons">
      <app-custom-button [routerLink]="['item/', searchItem.id]" class="search-item-button">...more</app-custom-button>
      <app-custom-button
        *ngIf="searchItem.isCustom"
        (buttonClickEvent)="onDeleteCustomItem(searchItem)"
        class="delete-button">
        <mat-icon>delete_forever</mat-icon>
      </app-custom-button>
    </div>
    <div [appColoredBorder]="searchItem.snippet.publishedAt" class="colored-border"></div>
  </mat-card>
</ng-container>
