<mat-toolbar>
  <mat-toolbar-row>
    <img class="app-logo" src="assets/logo.png" alt="app-logo" />
    <mat-form-field>
      <mat-label>Type your request</mat-label>
      <input matInput placeholder="fun videos" />
    </mat-form-field>
    <app-custom-button>Search</app-custom-button>
    <app-custom-button>
      <mat-icon>menu</mat-icon>
    </app-custom-button>
    <app-custom-button>
      <mat-icon>account_circle</mat-icon>
    </app-custom-button>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <app-filter></app-filter>
  </mat-toolbar-row>
</mat-toolbar>
