<form class="login-form" [formGroup]="loginForm">
  <h2 class="form-header">Login:</h2>
  <mat-form-field class="username-input">
    <mat-label>Your Login</mat-label>
    <input matInput formControlName="username" />
    <mat-error>{{ getUsernameErrorMessage() }}</mat-error>
  </mat-form-field>
  <mat-form-field class="password-input">
    <mat-label>Your Password</mat-label>
    <input matInput formControlName="password" />
    <mat-error>
      <span *ngIf="!loginForm.get('password')?.hasError('required')">Your password isn't strong enough:</span>
      {{ getPasswordErrorMessage() }}</mat-error
    >
  </mat-form-field>
  <div class="form-buttons">
    <app-custom-button (buttonClickEvent)="onLoginClick()">Login</app-custom-button>
    <app-custom-button>Registration</app-custom-button>
  </div>
</form>
